.gitignore
devsys/settings.py
.idea
Client/conf/__pycache__/
Client/core/__pycache__/
Client/plugins/__pycache__/
__pycache__/
assets/__pycache__/
assets/migrations/__pycache__/
devsys/__pycache__/
login/__pycache__/
login/migrations/__pycache__/
