{% extends 'base.html' %}
{% load static %}

{% block title %}仪表盘{% endblock %}
{% block css %} {% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        仪表盘
        <small>dashboard</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">仪表盘</li>
      </ol>
    </section>
{% endblock %}

{% block content %}


  <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- row -->
            <div class="col-md-12" style="padding-bottom: 10px;">
              <!-- jQuery Knob -->
              <div class="box box-solid">

                <!-- /.box-header -->


                  <div class="col-sm-3"  >
            <div class="ibox float-e-margins"  style="background-color: white">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Users</span>
                    <h5>主机总数</h5>
                </div>
                <div class="ibox-content" >
                    <h1 class="no-margins"><a href="/users/user/">{{ AllServer }}</a></h1>
                    <small>All users</small>
                </div>
            </div>
        </div>


                  <div class="col-sm-3" >
            <div class="ibox float-e-margins" style="background-color: white">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Hosts</span>
                    <h5>今日更新主机总数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/assets/asset/">{{ AllServer }}</a></h1>
                    <small>All hosts</small>
                </div>
            </div>
        </div>



            <div class="col-sm-3" >
            <div class="ibox float-e-margins" style="background-color: white">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Hosts</span>
                    <h5>今日告警总数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/assets/asset/">88</a></h1>
                    <small>All hosts</small>
                </div>
            </div>
        </div>

                <div class="col-sm-3" >
            <div class="ibox float-e-margins" style="background-color: white">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Hosts</span>
                    <h5>待审批主机</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/assets/asset/">88</a></h1>
                    <small>All hosts</small>
                </div>
            </div>
        </div>





              <!-- /.box -->
            </div>
            <!-- /.col (RIGHT) -->
            </div>
          <!-- /.row -->

        <div class="col-md-6" style="margin-top: 0px;">
            <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">告警趋势图：</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
                {# 百度Echarts实现柱状图#}
                <div id="barChart" style="width: 480px;height:400px;"></div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>



      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}

<script src="https://cdn.bootcss.com/echarts/4.2.1/echarts.min.js"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/jquery-knob/js/jquery.knob.js' %}"></script>


<script>
$(function () {
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('barChart'));

    // 指定图表的配置项和数据
    var option = {
    title: {
        text: '折线图堆叠'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['邮件营销','联盟广告','视频广告']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },

    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一','周二','周三','周四','周五','周六','周日']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'邮件营销',
            type:'line',
            stack: '总量',
            data:[120, 132, 101, 134, 90, 230, 210]
        },
        {
            name:'联盟广告',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'视频广告',
            type:'line',
            stack: '总量',
            data:[150, 232, 201, 154, 190, 330, 410]
        },

    ]
};


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
});

</script>
{% endblock %}